<!doctype html>

<head>
	<script src="/lib/jquery.js"></script>

	<script src="/static/js/update.js"></script>
	<script src="/static/js/main.js"></script>
</head>

{% if open %}
	<title>free</title>
	<h1>Bathroom is free</h1>
	{{lock_time}}
	
{% else %}
	<title>locked</title>
	<h1>Bathroom is locked</h1>
	{{lock_time}}
{% endif %}
